<nz-layout>
  <nz-header>
    <div
      class="btn-wrappers"
      nz-flex
      nzJustify="space-between"
      nzAlign="center"
    >
      <div class="logo">
        <img
          src="/apps/ecomm/public/assets/ecomlogo.jpg"
          alt="logo"
          srcset=""
          class="logo-styling"
        />
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Home</li>
        <li nz-menu-item>Dashboard</li>
        <li nz-menu-item>Contact</li>
        <li nz-menu-item>Profile</li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      Content
      <router-outlet></router-outlet>
    </div>

  </nz-content>
  <nz-footer>E-Comm App ©2024 Implement By Shreyas Ambre</nz-footer>
</nz-layout>




